<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

	<title>Burger Menu</title>
</head>

<body>
	<img src="/assets/burger.jpeg" width="475px" id="" class="float-left">

	{{{ body }}}
	<hr>
	<br>
	<footer class="burgerFooter">
			<div class="center-align">
				<span class="font-weight-bold">altamash momin</span><br>
				<a class="font-italic" href="https://github.com/altamashmomin">GitHub</a>
			</div>
	</footer>
</body>
</html>
